
body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-size: cover;
  background-image: url(./img/KuwaitCodesWallpaper.png);
  font-family: Cairo;
}

/* المطلوب الثاني هنا */
nav {
  display: flex;
  justify-content: center;

}
.nav-elements {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  width: 50%;
}

.card {
  /* المطلوب الثالث هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgb(123, 123, 238);
}

img {
  /* المطلوب الرابع هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgb(123, 123, 238);
  transition: all 1s ease-in-out;

}

img:hover{
  transform:translate(0px,-20px);
}

.hobbies {
  /* المطلوب السادس هنا */
}

.center {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}



